.form_search {
    position: relative;
    display: flex;
    height: 40px;
    border-radius: 24px;
    background-color: #eee;
  }
  
  .form_search button {
    background-color: initial;
    border: none;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .div_input {
    width: 100%;
  }
  
  .input_search {
    background: none;
    border: none;
    color: #111;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Additional styles for focus and hover effects */
  .form_search:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  .form_search button:hover {
    color: #007bff;
  }
  
  .form_search button:focus {
    outline: none;
  }
  
  #input_search {
    outline: none !important;
  }

  .div_imgs {
    width: 31%;
     padding: 10px
  }

  .list_imgs {
    width: 100%;
    height: auto
  }

  a { 
    text-decoration: none;
    color: #767676;
  }

  .span_user{
    gap: 8px;
    align-items: center;
    display: flex;
  }
  .div_user_info{
    line-height: 1;
  }
  .A_name{
    display: block;
    font-size: 15px;
    line-height: 1;
  }
  .A_username {
    color: inherit;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: .02em;
    line-height: 1;
  }

  .div_dropdown {
    display: flex;
    align-items: center;
    gap: 10px
  }

  /* media screen */

  @media (max-width: 768px) {
      .div_imgs {
        width: 100%;
        margin-bottom: 10px;
      }
      .div_imgs_individual {
        width: 100%;
        margin-bottom: 10px;
      }
  }

  @media (min-width: 769px) {
      .div_imgs {
        width: 47%;
        margin-bottom: 10px;
      }
      .div_imgs_individual {
        width: 85%;
        margin-bottom: 10px;
      }
  }
  @media (min-width: 992px) {
    .div_imgs {
      width: 31%;
      margin-bottom: 10px;
    }
    .div_imgs_individual {
      width: 45%;
      margin-bottom: 10px;
    }
}
  

